@use '../../../../../assets/css/global' as g;

$icons-animation-duration: g.$animation-duration;

@mixin icons-animation {
  transition-duration: $icons-animation-duration;
  transition-property: all;
  animation-duration: $icons-animation-duration;
  animation-name: edit-out;
}

.wrapper {
  &:hover .plus {
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
  }
  &:hover .edit {
    animation-duration: 0.2s;
    animation-delay: 0.1s;
    animation-name: edit-in;
    animation-fill-mode: forwards;
  }

  .btn {
    .plus,
    .edit {
      position: absolute;
      display: block;
    }
  }

  .plus {
    @include icons-animation;
  }

  .edit {
    @include icons-animation;
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}

@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes edit-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}

@keyframes plus-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(180deg);
  }
}

@keyframes plus-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
