.divider {
  margin: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0;

  &:before,
  &:after {
    background-color: var(--color-base-content);
  }
}

a {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: flex;
  cursor: pointer;
  place-content: center;
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  ng-icon {
    margin-inline-end: 0.5rem;
  }

  &:active:hover,
  &:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97));
  }
}

.accounts_switcher {
  .accounts_title {
    .back_title,
    &.open .change_title {
      display: none;
    }

    .change_title,
    &.open .back_title {
      display: flex;
    }

    ng-icon {
      transition: all 0.3s linear;
    }

    &.open {
      ng-icon {
        transform: rotate(180deg);
      }
    }
  }
}

@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.98));
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
