<div
  class="avatar-container bg-base-300 relative h-full min-h-64 rounded-xl lg:w-64 lg:flex-none">
  @if (loading() && !avatar()) {
    <app-shared-loader />
  } @else {
    <div class="avatar h-full w-full justify-center">
      @if (avatar(); as avatar) {
        <div
          class="ring-accent ring-offset-base-100 h-full w-full rounded-xl ring ring-offset-2">
          <img [src]="avatar" class="h-full w-full" [alt]="title()" />
        </div>
      } @else {
        <ng-icon name="saxUserSquareBulk" size="242" />
      }
    </div>
  }
  <div class="join absolute right-0 -bottom-2">
    <a
      class="btn btn-primary join-item btn-sm"
      (click)="avatarInput.click()"
      (keyup.enter)="avatarInput.click()"
      tabindex="0">
      <ng-icon name="saxCameraOutline" size="24" />
    </a>
    @if (avatar()) {
      <a
        class="btn btn-warning join-item btn-sm"
        (click)="remove.emit()"
        (keyup.enter)="remove.emit()"
        tabindex="0">
        <ng-icon name="saxCloseSquareOutline" size="24" />
      </a>
    }
  </div>
  <input
    #avatarInput
    type="file"
    class="hidden"
    name="image"
    accept="image/*"
    (change)="handleFileSelect($event)" />
</div>
