<app-shared-layout>
  <div class="p-4">
    @if (isLoading()) {
      <div class="mb-4 flex justify-center">
        <progress class="progress w-3/4"></progress>
      </div>
    }
    @if (error()) {
      <div role="alert" class="alert alert-error">
        <ng-icon name="phosphorInfo" size="32" />
        <span>{{ error() }}</span>
      </div>
    }
    @if (eventView(); as event) {
      <div class="bg-base-100 w-2/3 rounded-xl">
        <app-shared-timeline-event-content [event]="event" />
      </div>
    }
  </div>
</app-shared-layout>
