@if (activeTimeline | async) {
  <app-add-event-button
    (addEvent)="addEvent()"
    [disabled]="canAddNewEvent() !== true" />
  <app-active-timeline
    [timeline]="timeline()"
    (filterByTag)="filterByTag($event)"
    (formPreview)="shouldAddEvent.set($event)"
    (saveAction)="insertEvent()"
    (dismissAction)="dismiss()" />
} @else {
  <div class="bg-lighter hero rounded-xl">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/assets/timeline.png" class="max-w-sm" alt="timeline" />
      <div>
        <h1 class="text-5xl font-bold">add events to your personal timeline</h1>
        <p class="py-6"></p>
        <app-add-event-button
          (addEvent)="addEvent()"
          [disabled]="canAddNewEvent() !== true" />
      </div>
    </div>
  </div>
}
