@if (activeTimeline() !== null) {
  <shared-ui-modal-confirm
    [show]="showConfirmWindow()"
    (confirmAction)="confirmDelete()"
    (dismissAction)="dismissDelete()"
    confirmMessage="Are you shure you want to delete this event?"></shared-ui-modal-confirm>

  <app-add-event-button
    (addEvent)="addEvent()"
    [disabled]="canAddNewEvent() !== true" />
  <app-active-timeline
    [timeline]="timeline()"
    (filterByTag)="filterByTag($event)"
    (formPreview)="updatePreview($event)"
    (saveAction)="insertEvent()"
    (dismissAction)="dismiss()"
    (onDelete)="deleteEvent($event)" />
} @else {
  <div class="bg-lighter hero rounded-xl">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/assets/timeline.png" class="max-w-sm" alt="timeline" />
      <div>
        <h1 class="text-5xl font-bold">add your first personal timeline</h1>
        <p class="py-6">
          create a dynamic story of your life by adding milestones, memories,
          and achievements.
        </p>
        <button
          class="btn btn-accent btn-lg text-base-content"
          (click)="toggleAddTimelineForm()">
          <ng-icon name="saxHierarchySquare3Outline" size="32"></ng-icon>create
          timeline
        </button>
      </div>
    </div>
    <shared-ui-modal [show]="showAddTimelineWindow()">
      <app-add-timeline
        [isAuthorized]="isAuthorized()"
        [isLoading]="isLoading()"
        (addTimeline)="addTimeline($event)" />
    </shared-ui-modal>
  </div>
}
