@if (!isAuthorized()) {
  <p>You must be signed in to your Google account to add your timeline</p>
} @else {
  <input
    class="input input-lg mt-4 mb-8 w-full"
    placeholder="add a name of timeline"
    [attr.disabled]="isLoading() ? true : null"
    [class.input-error]="error()"
    name="timelineName"
    [formControl]="form.controls.timelineName" />
  <div class="modal-action">
    @if (isLoading() === true) {
      <span class="loading loading-spinner"></span>
    } @else {
      <button class="btn btn-primary btn-lg" (click)="addTimeline()">
        <ng-icon name="phosphorPlusSquare" size="24"></ng-icon>
        add
      </button>
    }
  </div>
}
