@if (!isAuthorized()) {
  <p>You must be signed in to your Google account to add your timeline</p>
}

<input
  class="input input-lg input-bordered mt-4 mb-8 w-full"
  placeholder="add a name of timeline"
  name="timelineName"
  [attr.disabled]="isLoading() ? true : null"
  [formControl]="form.controls.timelineName" />
<div class="modal-action">
  <button
    class="btn btn-primary btn-lg"
    [attr.disabled]="isLoading() ? true : null"
    (click)="addTimeline.emit(form.controls.timelineName.value)">
    @if (isLoading() === true) {
      <span class="loading loading-spinner"></span>
    } @else {
      @if (isAuthorized()) {
        <ng-icon name="saxAddSquareOutline" size="24"></ng-icon>
        add
      } @else {
        <ng-icon name="saxLogin1Outline" size="24"></ng-icon>
        sign-in and add
      }
    }
  </button>
</div>
