<app-shared-layout>
  <div class="mx-4 mt-4">
    <app-shared-content-title title="Timeline Terms of Service" />
    <p>
      Please read these Terms of Service ("Terms") carefully before using
      Timeline. By accessing or using Timeline, you agree to be bound by these
      Terms.
    </p>

    <h2>User Conduct</h2>
    <p>
      You agree to use Timeline responsibly and in compliance with all
      applicable laws and regulations. You will not:
    </p>
    <ul>
      <li>
        Post or transmit any unlawful, harmful, threatening, abusive, harassing,
        defamatory, vulgar, obscene, or otherwise objectionable content.
      </li>
      <li>Interfere with or disrupt the operation of Timeline.</li>
      <li>Attempt to gain unauthorized access to Timeline or its systems.</li>
    </ul>

    <h2>Intellectual Property</h2>
    <p>
      Timeline and its content, including but not limited to text, images, and
      software, are protected by copyright, trademark, and other intellectual
      property laws.
    </p>

    <h2>Disclaimer of Warranties</h2>
    <p>
      Timeline is provided "as is" without warranty of any kind, express or
      implied, including, but not limited to, warranties of merchantability,
      fitness for a particular purpose, and non-infringement.
    </p>

    <h2>Limitation of Liability</h2>
    <p>
      In no event shall Timeline or its affiliates be liable for any indirect,
      incidental, special, consequential, or punitive damages, or any loss of
      profits or revenues, whether incurred directly or indirectly, or any loss
      of data, use, goodwill, or other intangible losses, resulting from your
      access to or use of Timeline.
    </p>

    <h2>Termination</h2>
    <p>
      Timeline may terminate your access to the service at any time, without
      notice, for any reason.
    </p>

    <h2>Changes to Terms of Service</h2>
    <p>
      We may modify these Terms at any time. Your continued use of Timeline
      after any such changes constitutes your acceptance of the new Terms.
    </p>

    <h2>Contact Us</h2>
    <p>
      If you have any questions about these Terms, please contact us at [your
      email address].
    </p>
  </div>
</app-shared-layout>
