<ul
  class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact"
  appAnimate>
  @for (event of timeline(); track $index) {
    <li class="timeline-item" [class.skeleton]="event.loading">
      <div class="timeline-middle" [class.opacity-20]="event.loading">
        <app-timeline-event-icon [icon]="event.icon" />
      </div>

      <div
        class="w-full overflow-hidden rounded-xl bg-base-100"
        [class.timeline-start]="event.changeDirection"
        [class.md:text-end]="event.changeDirection"
        [class.timeline-end]="!event.changeDirection"
        [class.opacity-20]="event.loading">
        <app-timeline-event-main-content [event]="event" />

        @if (canEditEvent(event)) {
          <app-timeline-event-menu
            class="absolute -bottom-2 right-2 lg:hidden"
            [timelineEvent]="{ id: event.id }"
            (delete)="delete.emit($event)"
            (edit)="edit.emit($event)" />
        }
      </div>
      <div
        class="h-full w-full"
        [class.timeline-start]="!event.changeDirection"
        [class.md:text-end]="!event.changeDirection"
        [class.timeline-end]="event.changeDirection">
        @if (canEditEvent(event)) {
          <div
            class="mt-10 hidden h-full w-full duration-100 hover:opacity-100 lg:block lg:opacity-0">
            <app-timeline-event-menu
              class="h-full w-full"
              [timelineEvent]="{ id: event.id }"
              (delete)="delete.emit($event)"
              (edit)="edit.emit($event)" />
          </div>
        }
      </div>

      <hr [class.opacity-20]="event.loading" />
    </li>
  }
</ul>
