@use '../../../../../../assets/css/global' as g;

.edit-form {
  @apply timeline-box bg-base-300 lg:mt-0;

  position: relative;
  padding-top: 0;
  margin-top: 1rem;

  .form-tab-content {
    display: none;
    height: 23rem;
    animation: backInRight;
    animation-duration: g.$animation-duration;

    &.active {
      display: block;
    }
  }
}
