@if (preview(); as previewHolder) {
  @if (previewHolder.data.status === Status.ERROR) {
    <div class="flex h-32 gap-4">
      <span
        class="border-error text-warning flex h-32 w-48 place-content-center items-center rounded-lg border-2">
        <ng-icon name="phosphorWarningCircleDuotone" size="48" />
      </span>
      <span class="flex-1">
        <div class="flex shrink flex-col gap-4">
          <div class="font-bold">{{ previewHolder.url }}</div>
          <div class="text-warning">{{ previewHolder.data.error }}</div>
        </div>
      </span>
    </div>
  }
  @if (previewHolder.data.status === Status.LOADING) {
    <div class="flex h-32 gap-4">
      <span class="skeleton h-32 w-48"></span>
      <span class="flex-1">
        <div class="flex shrink flex-col gap-4">
          <div class="skeleton h-8 w-3/4"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
          <div class="skeleton h-4 w-full"></div>
        </div>
      </span>
    </div>
  }
  @if (previewHolder.data.status === Status.SUCCESS) {
    <div class="flex h-32 gap-4">
      <span
        class="border-success flex w-48 place-content-center items-center rounded-lg border-2">
        <img
          src="{{ previewHolder.data.data?.image }}"
          [alt]="previewHolder.data.data?.title || previewHolder.url" />
      </span>
      <span class="flex-1 overflow-hidden">
        <div class="flex shrink flex-col">
          <div class="font-bold">
            {{ previewHolder.data.data?.title || previewHolder.url }}
          </div>
          <div>{{ previewHolder.url }}</div>
        </div>
      </span>
    </div>
  }
}
