<form
  class="edit-form timeline-box bg-base-300 lg:mt-0"
  [class.skeleton]="loading()"
  (submit)="formSubmit($event)"
  method="post"
  enctype="multipart/form-data">
  <app-shared-tabs
    [tabs]="tabs()"
    (switchTab)="switchTo($event)"
    [activeTab]="activeTab()" />

  <div class="overflow-hidden">
    <app-edit-event-form-text-input
      [form]="editForm"
      class="form-tab-content"
      [class.active]="activeTab().uuid === 'text'" />
    <div
      class="form-tab-content"
      [class.active]="activeTab().uuid === 'upload'">
      <app-edit-event-form-upload-input
        [previewImage]="viewHelper().image"
        (selectFile)="handleSelectFile($event)" />
      @if (editForm.controls.imageId.value) {
        <button
          class="btn btn-warning btn-sm mt-4 w-full"
          type="button"
          (click)="removeImage()">
          remove image
        </button>
      }
    </div>
    <app-edit-event-form-date-time-input
      [form]="editForm"
      class="form-tab-content"
      [class.active]="activeTab().uuid === 'date'" />
    <app-edit-event-form-tags-input
      [form]="editForm"
      [inputTags]="editForm.controls.tags.value || []"
      [isDisabled]="loading()"
      (outputTags)="setTags($event)"
      class="form-tab-content"
      [class.active]="activeTab().uuid === 'tags'" />
    <app-edit-event-form-link-input
      [form]="editForm"
      [preview]="viewHelper().url"
      class="form-tab-content"
      [class.active]="activeTab().uuid === 'link'" />
  </div>

  <div class="mt-4 flex place-items-center gap-4 lg:hidden">
    <label
      for="is_private"
      class="flex cursor-not-allowed place-items-center gap-2 opacity-40">
      <input
        id="is_private"
        type="checkbox"
        class="checkbox"
        disabled
        [attr.checked]="
          editForm.controls.isPrivate.value === true ? 'checked' : null
        " />
      keep private (coming soon)
    </label>
  </div>
  <div
    class="tooltip tooltip-top tooltip-info hidden shrink lg:mt-4 lg:block"
    data-tip="coming soon">
    <label
      for="is_private"
      class="flex cursor-not-allowed place-items-center gap-2 opacity-40">
      <input
        id="is_private"
        type="checkbox"
        class="checkbox"
        disabled
        [attr.checked]="
          editForm.controls.isPrivate.value === true ? 'checked' : null
        " />
      keep private
    </label>
  </div>
  <app-shared-form-controls
    (acceptAction)="saveAction.emit()"
    (dismissAction)="dismissAction.emit()"
    [acceptButtonTitle]="submitButton().title"
    dismissButtonTitle="close"
    [acceptButtonIcon]="submitButton().icon"
    [isDisabled]="!editForm.valid || loading()" />
</form>
