@use '../../../../assets/css/global' as g;

.edit-form {
  margin-top: 1rem;
  padding-top: 0;
  position: relative;

  .form-tab-content {
    height: 23rem;
    display: none;
    animation: backInRight;
    animation-duration: g.$animation-duration;

    &.active {
      display: block;
    }
  }
}
