.form-tabs {
  a {
    ng-icon {
      @apply text-primary;
    }
  }
  a.active {
    @apply btn-secondary;
    ng-icon {
      @apply text-primary-content;
    }
  }
  a:not(.active) span {
    @apply hidden;
  }
}

.upload_image_container {
  .preview {
    opacity: 0.1;
  }

  @keyframes animate {
    0% {
      border-radius: 50px 50px 50px 5px;
    }
    25% {
      border-radius: 5px 50px 50px 50px;
    }
    50% {
      border-radius: 50px 5px 50px 50px;
    }
    75% {
      border-radius: 50px 50px 5px 50px;
    }
    100% {
      border-radius: 50px 50px 50px 5px;
    }
  }
}
