<div
  class="active-tab-{{
    switchTab()
  }} event-form bg-base-300 timeline-box relative mt-4 pt-0 lg:mt-0 "
  [class.skeleton]="loading()">
  <app-edit-event-form-tabs
    (switchTab)="switchTo($event)"
    [activeTab]="switchTab()"
    [enebleUpload]="enableUpload()" />

  <div class="overflow-hidden">
    <app-edit-event-form-text-input class="tab-content-0" [form]="editForm" />
    <app-edit-event-form-date-time-input
      class="tab-content-1 mt-4"
      [form]="editForm" />
    <app-edit-event-form-tags-input
      class="tab-content-2"
      [form]="editForm"
      [inputTags]="editForm.controls.tags.value || []"
      [isDisabled]="loading()"
      (outputTags)="setTags($event)" />
    <app-edit-event-form-link-input
      class="tab-content-3"
      [form]="editForm"
      [preview]="viewHelper().url" />
    @if (enableUpload()) {
      <div class="tab-content-4">
        <app-edit-event-form-upload-input
          [previewImage]="viewHelper().image"
          (selectFile)="handleSelectFile($event)" />
        @if (couldRemoveImage()) {
          <button class="btn btn-warning btn-sm mt-4" (click)="removeImage()">
            remove image
          </button>
        }
      </div>
    }
  </div>

  <div class="mt-8 flex place-items-center gap-4 lg:hidden">
    <label
      for="is_private"
      class="flex cursor-not-allowed place-items-center gap-2 opacity-40">
      <input
        id="is_private"
        type="checkbox"
        class="checkbox"
        disabled
        [attr.checked]="
          editForm.controls.isPrivate.value === true ? 'checked' : null
        " />
      keep private (coming soon)
    </label>
  </div>
  <div class="mt-8 flex place-items-center gap-4">
    <div class="flex-none">
      <button
        (click)="saveAction.emit()"
        class="btn btn-primary"
        [attr.disabled]="!editForm.valid || loading() === true ? true : null">
        <ng-icon [name]="submitButton().icon" size="24"></ng-icon>
        {{ submitButton().title }}
      </button>
    </div>
    <div class="flex-none lg:hidden">
      <button class="btn" (click)="dismissAction.emit()">close</button>
    </div>
    <div
      class="tooltip tooltip-top tooltip-info hidden shrink lg:block"
      data-tip="coming soon">
      <label
        for="is_private"
        class="flex cursor-not-allowed place-items-center gap-2 opacity-40">
        <input
          id="is_private"
          type="checkbox"
          class="checkbox"
          disabled
          [attr.checked]="
            editForm.controls.isPrivate.value === true ? 'checked' : null
          " />
        keep private
      </label>
    </div>
  </div>

  <button
    class="close btn btn-circle btn-error btn-sm absolute -right-4 -top-4 hidden lg:flex"
    [attr.disabled]="loading() === true ? true : null"
    (click)="dismissAction.emit()">
    ✕
  </button>
</div>
