.tab-content-0,
.tab-content-1,
.tab-content-2,
.tab-content-3,
.tab-content-4,
.tab-content-5 {
  @apply hidden;
}
.active-tab-0 .tab-content-0,
.active-tab-1 .tab-content-1,
.active-tab-2 .tab-content-2,
.active-tab-3 .tab-content-3,
.active-tab-4 .tab-content-4,
.active-tab-5 .tab-content-5 {
  @apply block;
  animation: 0.3s swipe-left;
}

@keyframes swipe-left {
  0% {
    margin-left: 110%;
  }
  100% {
    margin-left: 0%;
  }
}
