<app-layout>
  <div class="p-4">
    <app-content-title title="UI components" />

    <div class="py-4">
      <h2 class="text-2xl">TimelineComponent</h2>
      <div class="mt-4 grid w-full grid-cols-2 gap-4">
        <app-timeline [timeline]="dumpTimelineEvents()" />
      </div>
    </div>

    <div class="py-4">
      <h2 class="text-2xl">MarkdownContentComponent</h2>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <app-markdown-content [content]="dumpContent()" />
      </div>
    </div>

    <div class="py-4">
      <h2 class="text-2xl">LinkPreviewComponent</h2>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <app-link-preview [preview]="dumpPreviewWithError()" />
        <app-link-preview [preview]="dumpPreview()" />
        <app-link-preview [preview]="dumpPreviewLoading()" class="col-span-2" />
      </div>
    </div>

    <div class="py-4">
      <h2 class="text-2xl">EventAdditionalContentComponent</h2>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <app-edit-event-form [editEvent]="dumpAddEvent()" [openTab]="1" />
        <app-edit-event-form [editEvent]="dumpAddEvent()" [openTab]="2" />
        <app-edit-event-form [editEvent]="dumpAddEvent()" [openTab]="3" />
        <app-edit-event-form [editEvent]="dumpAddEvent()" [openTab]="4" />
      </div>
    </div>

    <div class="py-4">
      <h2 class="text-2xl">TimelineEventMenuComponent</h2>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <app-timeline-event-menu
          [timelineEvent]="{ id: 1 }"></app-timeline-event-menu>
      </div>
    </div>
  </div>
</app-layout>
