<app-layout>
  <div class="p-4">
    <app-content-title title="UI components" />

    <div class="py-4" id="MarkdownHelpComponent">
      <h2 class="text-2xl">MarkdownHelpComponent</h2>
      <div class="mt-4">
        <app-static-markdown-help />
      </div>
    </div>

    <div class="py-4" id="EditEventFormComponent">
      <h2 class="text-2xl">EditEventFormComponent</h2>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <!-- <app-edit-event-form [editEvent]="null" [loading]="true" /> -->
        <!-- <app-edit-event-form [editEvent]="null" [openTab]="4" /> -->
        <!-- <app-edit-event-form [editEvent]="null" [openTab]="0" /> -->
        <!-- <app-edit-event-form [editEvent]="null" [openTab]="1" /> -->
        <!-- <app-edit-event-form [editEvent]="null" [openTab]="2" /> -->
        <!-- <app-edit-event-form [editEvent]="null" [openTab]="3" /> -->
      </div>
    </div>

    <div class="py-4" id="TimelineComponent">
      <h2 class="text-2xl">TimelineComponent</h2>
      <div class="mt-4 grid w-full grid-cols-1 gap-4">
        <app-timeline [timeline]="[]" />
      </div>
    </div>

    <div class="py-4" id="LayoutTesting">
      <h2 class="text-2xl">Layout testing</h2>
      <div class="mt-4 grid w-full grid-cols-1 gap-4">
        <div class="screen relative bg-base-100">
          <div
            class="content-container relative my-4 ms-4 w-[calc(100%-20rem)]">
            <app-develop-content />
            <app-table-of-contents-container
              [state]="tableOfContent()"
              setActive="LayoutTesting"
              [isOpen]="true" />
          </div>
        </div>
        <div class="screen relative bg-base-100">
          <div
            class="content-container relative my-4 ms-4 w-[calc(100%-20rem)]">
            <app-develop-content />
            <app-table-of-contents-container [state]="tableOfContent()" />
          </div>
        </div>
      </div>
    </div>

    <div class="py-4" id="LoaderComponent">
      <h2 class="text-2xl">LoaderComponent</h2>
      <div class="relative mt-4 h-44">
        <app-loader />
      </div>
    </div>
  </div>
</app-layout>
