@if (editEvent(); as event) {
  @if (previewEvent(); as preview) {
    <ul
      class="timeline timeline-vertical timeline-snap-icon mb-8 max-md:timeline-compact">
      <li class="timeline-item" [class.skeleton]="loading() === true">
        <div class="timeline-middle" [class.opacity-20]="loading() === true">
          <app-timeline-event-icon [icon]="icon" [shouldAccentLine]="true" />
        </div>

        <div
          class="timeline-start w-full rounded-xl bg-base-100 p-2 text-end"
          [class.opacity-20]="loading() === true">
          <app-shared-timeline-event-content [event]="preview" />
        </div>
        <div class="timeline-end w-full">
          <app-edit-event-form
            [editEvent]="event"
            [viewHelper]="formViewHelper()"
            [loading]="loading()"
            [isNew]="isNew()"
            [enableUpload]="isUploadEnabled()"
            (valuesChanged)="updatePreviewEvent($event)"
            (urlChanged)="dispatchUpdateUrlPreview($event)"
            (fileSelected)="handleFileSelected($event)"
            (saveAction)="saveEvent()"
            (dismissAction)="closeEditForm()" />
        </div>

        <button
          class="close btn btn-circle btn-error btn-sm absolute -right-4 -top-4 hidden lg:flex"
          [attr.disabled]="loading() === true ? true : null"
          (click)="closeEditForm()">
          ✕
        </button>

        <hr class="bg-accent" [class.opacity-20]="loading() === true" />
      </li>
    </ul>
  }
}
