@if (isLoading()) {
  <div class="relative h-52">
    <app-shared-loader></app-shared-loader>
  </div>
}

@if (error()) {
  <div role="alert" class="alert alert-error">
    <ng-icon name="saxInformationOutline" size="32" />
    <span>{{ error() }}</span>
  </div>
}

@if (events(); as events) {
  @if (events.length > 0) {
    <app-timeline-events-list
      [events]="events"
      [canEditEvent]="canEditEvent()"
      (delete)="delete.emit($event)"
      (edit)="edit.emit($event)" />
  } @else {
    @if (!error() && !isLoading()) {
      <div role="alert" class="alert alert-info">
        <ng-icon name="saxInformationOutline" size="32" />
        <span>There are no events.</span>
      </div>
    }
  }
}

@if (hasLoadMore()) {
  <div class="mt-8 flex justify-center">
    <app-shared-content-loading-button
      class="w-full"
      [isLoading]="isLoading()"
      [icon]="moreIcon"
      [style]="'neutral w-full'"
      (clickEvent)="loadMore()">
      load more
    </app-shared-content-loading-button>
  </div>
}
