<div class="hidden lg:block">
  <input
    type="checkbox"
    id="toggle_theme"
    class="toggle--checkbox hidden"
    [checked]="isDark() ? 'checked' : null"
    (change)="toggleTheme.emit()" />

  <label for="toggle_theme" class="toggle--label relative flex cursor-pointer">
    <span class="toggle--label-background"></span>
  </label>
</div>

<div class="lg:hidden">
  <button class="btn btn-circle btn-ghost" (click)="toggleTheme.emit()">
    @if (isDark()) {
      <ng-icon name="hugeSun03" size="24"></ng-icon>
    } @else {
      <ng-icon name="saxMoonBold" size="24"></ng-icon>
    }
  </button>
</div>
