@if (event().image; as image) {
  <div class="bg-base-300">
    <div class="p-2">
      <app-timeline-event-date [date]="event().date" />
      <h4 class="text-xl font-bold">{{ event().title }}</h4>
      <app-timeline-event-tags
        [tags]="event().tags"
        (clickToTag)="filterByTag.emit($event)" />
    </div>
    <app-timeline-event-image [image]="image"></app-timeline-event-image>
  </div>
} @else {
  <div class="p-2">
    <app-timeline-event-date [date]="event().date" />
    <h4 class="text-xl font-bold">{{ event().title }}</h4>
    <app-timeline-event-tags
      [tags]="event().tags"
      (clickToTag)="filterByTag.emit($event)" />
  </div>
}
<div class="p-2">
  <app-markdown-content
    [content]="event().description"
    class="mt-2"></app-markdown-content>
  <app-timeline-event-url [url]="event().url" />
</div>
