<h2 class="form-tabs-title -mt-4 flex justify-center">
  <span
    class="border-base-200 border-l-base-300 border-r-base-300 border-t-base-300 bg-base-200 w-52 rounded-t-lg border text-center">
    {{ activeTab().title }}
  </span>
</h2>
<div class="form-tabs flex justify-center">
  @for (tab of tabs(); track $index) {
    @if (tab.isEnabled) {
      <a
        tabindex="0"
        class="tab-{{ tab.uuid }} btn"
        [class.btn-info]="activeTab().uuid === tab.uuid"
        [class.border-b-4]="activeTab().uuid === tab.uuid"
        [class.border-b-success]="activeTab().uuid === tab.uuid"
        [title]="tab.title"
        (click)="switchTab.emit(tab)"
        (keyup)="switchTab.emit(tab)">
        <ng-icon [svg]="tab.icon" size="24"></ng-icon>
      </a>
    }
  }
</div>
