<app-shared-layout>
  <div class="flex flex-col-reverse gap-4 p-4 lg:flex-row">
    <div class="flex-auto">
      <app-shared-timeline [timelineId]="timelineId()" />
    </div>
    <div class="lg:w-72 lg:flex-none">
      <div class="bg-base-300 relative rounded-xl shadow-xl">
        @if (loading()) {
          <div class="min-h-32"><app-shared-loader /></div>
        }
        @if (error()) {
          <div role="alert" class="alert alert-error">
            <ng-icon name="phosphorInfo" size="32" />
            <span>{{ error() }}</span>
          </div>
        }
        @if (timelineAccountView(); as account) {
          <div>
            <app-shared-account-view
              [account]="account"
              extraContainerClasses="bg-warning lg:rounded-b-none" />
            @if (account.about) {
              <div class="about p-4">{{ account.about }}</div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</app-shared-layout>
