<app-shared-layout>
  <div class="flex flex-col-reverse gap-4 p-4 lg:flex-row">
    <div class="flex-auto">
      <app-shared-timeline [timelineId]="1" />
    </div>
    <div class="lg:w-72 lg:flex-none">
      @if (timelineAccount(); as account) {
        <div class="rounded-xl bg-base-300 shadow-xl lg:pb-8">
          <app-shared-account-view
            [account]="account"
            extraContainerClasses="bg-warning lg:rounded-b-none" />
        </div>
      }
    </div>
  </div>
</app-shared-layout>
