<ul
  class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact"
  appAnimate>
  @for (event of timeline(); track $index) {
    <li class="timeline-item" [class.skeleton]="event.loading">
      <div class="timeline-middle" [class.opacity-20]="event.loading">
        <app-timeline-event-icon [icon]="event.icon" />
      </div>

      <div
        class="w-full rounded-xl bg-base-100 p-2"
        [class.timeline-start]="event.changeDirection"
        [class.md:text-end]="event.changeDirection"
        [class.timeline-end]="!event.changeDirection"
        [class.opacity-20]="event.loading">
        <app-timeline-event-main-content [event]="event" />
      </div>
      <div
        class="h-full w-full"
        [class.timeline-start]="!event.changeDirection"
        [class.md:text-end]="!event.changeDirection"
        [class.timeline-end]="event.changeDirection">
        @if (canEditEvent(event)) {
          <div class="event-menu mb-8 h-full w-full">
            <app-timeline-event-menu
              class="h-full w-full"
              [timelineEvent]="{ id: event.id }"
              (onDelete)="onDelete.emit($event)"
              (onEdit)="onEdit.emit($event)" />
          </div>
        }
      </div>

      <hr [class.opacity-20]="event.loading" />
    </li>
  }
</ul>
