<app-shared-layout>
  <app-shared-two-columns>
    <div class="first py-12">
      @if (isLoading()) {
        <div class="mb-4 flex justify-center">
          <progress class="progress"></progress>
        </div>
      }
      @if (error()) {
        <div role="alert" class="alert alert-error">
          <ng-icon name="phosphorInfo" size="32" />
          <span>{{ error() }}</span>
        </div>
      }
      @if (eventView(); as event) {
        <div class="bg-base-100 rounded-xl">
          <app-shared-timeline-event-content [event]="event" />
        </div>
      }
    </div>
    <div class="second pt-12">
      @if (isLoading()) {
        <div class="min-h-32"><app-shared-loader /></div>
      }
      @if (timelineAccountView(); as account) {
        <div>
          <app-shared-account-view
            [account]="account"
            extraContainerClasses="bg-warning lg:rounded-b-none" />
          @if (account.about) {
            <div class="about p-4">{{ account.about }}</div>
          }
        </div>
      }
    </div>
  </app-shared-two-columns>
  @if (eventView(); as event) {
    <div class="mt-24 p-4">
      <app-shared-content-title title="Other events" class="text-success" />
      <app-shared-timeline
        [timelineId]="event.timelineId"
        [limit]="3"
        [isEditable]="false"
        [isAuthorized]="false" />
    </div>
    <p class="bg-base-300 my-4 rounded-b-xl p-4 text-center">
      <a class="link" [href]="timelineUrl(event.timelineId)">show more</a>
    </p>
  }
</app-shared-layout>
