<button
  class="upload_image_container btn btn-square mt-4 h-full w-full bg-no-repeat p-4"
  (click)="image.click()"
  (keyup.enter)="image.click()">
  <div class="flex h-56 flex-col place-content-center">
    @if (previewImage().previewUrl) {
      <img
        [src]="previewImage().previewUrl"
        class="event_image h-full w-full"
        [class.preview]="previewImage().loading"
        [alt]="form().controls.title.value" />
    }

    @if (previewImage().loading) {
      <app-loader />
    } @else {
      <p>drop or click</p>
    }
    @if (previewImage().error) {
      <p class="mt-4 font-bold text-error">{{ previewImage().error }}</p>
    }
  </div>
</button>
<input
  #image
  type="file"
  multiple="false"
  class="hidden"
  accept="image/*"
  (change)="handleFileSelect($event)" />
