<form method="post" enctype="multipart/form-data">
  <input
    #fileUpload
    name="image"
    type="file"
    multiple="false"
    class="hidden"
    accept="image/*"
    (change)="handleFileSelect($event)" />
</form>
<button
  class="upload_image_container btn btn-square mt-4 h-full w-full bg-no-repeat p-4"
  (click)="fileUpload.click()"
  (keyup.enter)="fileUpload.click()">
  <div class="flex h-56 flex-col place-content-center">
    @if (previewUrl(); as preview) {
      <img
        [src]="preview"
        class="event_image h-full w-full"
        [class.preview]="isLoading()"
        [alt]="" />
    }

    @if (isLoading()) {
      <app-loader />
    } @else {
      <p>drop or click</p>
    }
    @if (previewImage()?.error) {
      <p class="mt-4 font-bold text-error">{{ previewImage()?.error }}</p>
    }
  </div>
</button>
