<input
  #fileUpload
  name="image"
  type="file"
  multiple="false"
  class="hidden"
  accept="image/*"
  (change)="handleFileSelect($event)" />
<button
  type="button"
  class="upload_image_container btn btn-square mt-4 h-72 w-full bg-no-repeat p-4"
  [class.drag-over]="isDraggedOver()"
  (click)="fileUpload.click()"
  (keyup.enter)="fileUpload.click()"
  (dragover)="handleDragOver($event)"
  (dragleave)="handleDragLeave($event)"
  (drop)="handleDrop($event)">
  <div class="flex h-full flex-col place-content-center">
    @if (previewUrl(); as preview) {
      <img
        [src]="preview"
        class="event_image h-full w-full"
        [class.preview]="isLoading()"
        [alt]="" />
    }

    @if (isLoading()) {
      <app-shared-loader />
    } @else {
      <p>drop or click</p>
    }
    @if (previewImage()?.error) {
      <p class="text-error mt-4 font-bold">{{ previewImage()?.error }}</p>
    }
  </div>
</button>
