@use '../../../../../assets/css/global' as g;

.timeline-item {
  .item-content {
    animation-duration: g.$animation-duration;
  }

  &.to-left {
    .item-content {
      animation-name: backInLeft;
    }
  }
  &.to-right {
    .item-content {
      animation-name: backInRight;
    }
  }
}

@media (min-width: 1024px) {
  .timeline-item {
    &.to-left .item-content {
      text-align: right;
    }
    &.to-left .item-menu {
      text-align: left;
    }
    &.to-right .item-content {
      text-align: left;
    }
    &.to-right .item-menu {
      text-align: right;
    }
  }
}
