<ul
  class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact overflow-hidden">
  @for (event of events(); track $index; let odd = $odd) {
    <li
      class="timeline-item mt-4"
      [class.skeleton]="event.loading"
      [class.to-left]="!odd"
      [class.to-right]="odd">
      <div class="timeline-middle" [class.opacity-20]="event.loading">
        <app-timeline-event-icon [icon]="event.icon" />
      </div>

      <div
        class="item-content timeline-end bg-base-100 w-full place-items-start overflow-hidden rounded-xl"
        [class.lg:timeline-start]="!odd"
        [class.opacity-20]="event.loading">
        <app-shared-timeline-event-content [event]="event" />
        @if (isEditable() && !event.loading) {
          <app-timeline-event-menu
            class="absolute -bottom-2 right-2 lg:hidden"
            [timelineEvent]="{ id: event.id }"
            (delete)="delete.emit($event)"
            (edit)="edit.emit($event)" />
        }
      </div>
      @if (isEditable() && !event.loading) {
        <div
          class="item-menu hidden h-full w-full lg:block"
          [class.lg:timeline-end]="!odd"
          [class.lg:timeline-start]="odd">
          <div
            class="mt-10 h-full w-full duration-100 hover:opacity-100 lg:opacity-0">
            <app-timeline-event-menu
              class="h-full w-full"
              [timelineEvent]="{ id: event.id }"
              (delete)="delete.emit($event)"
              (edit)="edit.emit($event)" />
          </div>
        </div>
      }
      <hr [class.opacity-20]="event.loading" />
    </li>
  }
</ul>
