@use '../../../assets/css/global' as g;

.notification-container {
  @apply fixed right-0 top-0 z-30 w-96 pe-4 pt-2;

  .toast {
    @apply mt-2 rounded-t-lg bg-base-300;

    position: relative;
    animation-name: backInRight;
    animation-duration: g.$animation-duration;

    &.success {
      @apply border-success;
    }

    &.warning {
      @apply border-warning;
    }

    &.error {
      @apply border-error;
    }

    .indicator {
      @apply absolute bottom-0 left-0 h-1 w-full;

      animation: timeOut 5s linear 1 forwards;
    }
    &.success .indicator {
      @apply bg-success;
    }

    &.warning .indicator {
      @apply bg-warning;
    }

    &.error .indicator {
      @apply bg-error;
    }

    &:hover .indicator {
      animation-play-state: paused;
    }
  }
}

@keyframes timeOut {
  to {
    width: 0;
  }
}
