.stage {
  span {
    @apply h-2 flex-grow rounded-box bg-base-300;
  }

  &.stage-started {
    span:nth-child(1) {
      @apply bg-red-500;
    }
  }

  &.stage-development {
    span:nth-child(1),
    span:nth-child(2) {
      @apply bg-orange-500;
    }
  }

  &.stage-testing {
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
      @apply bg-yellow-500;
    }
  }

  &.stage-done {
    span {
      @apply bg-green-500;
    }
  }
}
