<div class="pt-4"></div>
<app-shared-date-picker
  (selectDate)="updateDate($event)"
  [fromDate]="form().controls.date.value" />

<input
  type="hidden"
  name="date"
  [formControl]="form().controls.date"
  readonly />

<div>
  <label class="label cursor-pointer">
    <span>Time</span>
    <input
      name="time"
      type="text"
      class="input w-20"
      [class.input-error]="!form().controls.time.valid"
      [formControl]="form().controls.time" />
  </label>
</div>
<div>
  <label class="label cursor-pointer">
    <span>Show time on timeline</span>
    <input
      name="show-time"
      type="checkbox"
      class="toggle"
      [formControl]="form().controls.showTime" />
  </label>
</div>
