<div class="pt-4"></div>
<app-shared-date-picker
  (selectDate)="updateDate($event)"
  [fromDate]="form().controls.date.value" />

<input
  type="hidden"
  name="date"
  [formControl]="form().controls.date"
  readonly />

<div class="mt-4 flex place-content-center gap-2">
  <label class="flex-auto" for="time">Time</label>
  <input
    id="time"
    name="time"
    type="text"
    class="input w-20 flex-none"
    [class.input-error]="!form().controls.time.valid"
    [formControl]="form().controls.time" />
</div>

<div class="mt-4 flex place-content-center gap-2">
  <label class="flex-auto" for="show-time">Show time on timeline</label>
  <input
    id="show-time"
    name="show-time"
    type="checkbox"
    class="toggle flex-none"
    [formControl]="form().controls.showTime" />
</div>
