<label class="form-control">
  <div class="label">
    <span class="label-text">Tags</span>
  </div>
  <label class="input input-bordered flex items-center gap-2">
    <input
      #tag
      type="text"
      class="w-full"
      (keyup.enter)="addTag(tag)"
      [attr.disabled]="isDisabled() === true ? true : null" />
  </label>
  <div class="label">
    <span class="label-text-alt">
      Pressing Enter will add a tag. You can add multiple tags, separated by
      commas.
    </span>
  </div>
  @if (viewTags().length > 0) {
    <div>
      @for (tag of viewTags(); track $index) {
        <a
          class="badge badge-neutral badge-sm mr-2 cursor-pointer"
          (click)="removeTag(tag)"
          (keyup.enter)="removeTag(tag)"
          tabindex="0">
          {{ tag.title }}
          <ng-icon name="saxCloseCircleOutline" class="ml-2"></ng-icon>
        </a>
      }
    </div>
  }
</label>
