<fieldset class="fieldset">
  <label class="fieldset-label" for="tag">Tags</label>

  <input
    #tag
    type="text"
    class="input w-full min-w-xs"
    (keyup.enter)="addTag(tag)"
    [attr.disabled]="isDisabled() === true ? true : null" />

  <label class="fieldset-label" for="none">
    Pressing Enter will add a tag. You can add multiple tags, separated by
    commas.
  </label>

  @if (viewTags().length > 0) {
    <div>
      @for (tag of viewTags(); track $index) {
        <a
          class="badge badge-neutral badge-sm mr-2 cursor-pointer"
          (click)="removeTag(tag)"
          (keyup.enter)="removeTag(tag)"
          tabindex="0">
          {{ tag.title }}
          <ng-icon name="saxCloseCircleOutline" class="ml-2"></ng-icon>
        </a>
      }
    </div>
  }
</fieldset>
