<footer
  class="footer bg-neutral text-neutral-content md:footer-horizontal rounded-t-lg p-4">
  <aside class="grid grid-flow-col gap-4 lg:grid-flow-row">
    <span class="logo block px-2">timeline</span>
    <div
      class="tooltip tooltip-right"
      data-tip="Copyright © 2025 - All right reserved">
      <ng-icon name="phosphorCopyright" size="24"></ng-icon>
    </div>
  </aside>

  <nav>
    <h6 class="footer-title"></h6>
    <a class="link-hover link" href="/about">About</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link-hover link" href="/legal/terms">Terms of Service</a>
    <a class="link-hover link" href="/legal/privacy">Privacy Policy</a>
    <a class="link-hover link" href="/legal/cookie-policy">Cookie Policy</a>
  </nav>
  <nav>
    <h6 class="footer-title">Resources</h6>
    <a class="link-hover link" href="/press-kit">Press kit</a>
  </nav>

  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <div
      class="tooltip tooltip-right tooltip-primary lg:tooltip-left lg:tooltip-open"
      data-tip="Open an issue">
      <a
        href="https://github.com/wert2all/timeline-frontend/issues/new"
        target="_blank">
        <ng-icon name="phosphorBug" size="32"></ng-icon>
      </a>
    </div>
    <div class="divider divider-horizontal"></div>
    <a href="https://github.com/wert2all/timeline-frontend/" target="_blank">
      <ng-icon name="phosphorGithubLogo" size="32"></ng-icon>
    </a>
    <a href="https://www.youtube.com/@TimelineDev-ep9vd">
      <ng-icon name="phosphorYoutubeLogo" size="32"></ng-icon>
    </a>
  </nav>
</footer>
