<footer class="footer rounded-t-lg bg-neutral p-4 text-neutral-content">
  <aside class="grid grid-flow-col gap-4">
    <span class="logo block px-2">timeline</span>
    <p class="hidden lg:block">Copyright © 2024 - All right reserved</p>

    <nav class="grid grid-flow-col gap-4 lg:hidden">
      <a class="link-hover link" href="/legal/terms">Terms of Service</a>
      <a class="link-hover link" href="/legal/privacy">Privacy Policy</a>
    </nav>
  </aside>

  <app-legal-footer-menu />
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <div
      class="tooltip tooltip-right tooltip-primary lg:tooltip-left lg:tooltip-open"
      data-tip="Add an issue">
      <a
        href="https://github.com/wert2all/timeline-frontend/issues/new"
        target="_blank">
        <ng-icon name="saxGhostOutline" size="32"></ng-icon>
      </a>
    </div>
    <div class="divider divider-horizontal"></div>
    <a href="https://github.com/wert2all/timeline-frontend/" target="_blank">
      <ng-icon name="hugeGithub01" size="32"></ng-icon>
    </a>
    <a href="https://www.youtube.com/@TimelineDev-ep9vd">
      <ng-icon name="saxVideoSquareOutline" size="32"></ng-icon>
    </a>
  </nav>
</footer>
