<app-shared-layout>
  <div class="mx-4 mt-4 py-8">
    <app-shared-content-title title="What can you do with Timeline?" />

    <div class="mt-12 grid gap-4 lg:grid-cols-2">
      <div class="card card-xl bg-base-100 shadow-sm">
        <figure class="pb-8">
          <img
            class="shadow-primary w-full shadow-xl"
            src="/assets/about/gemini_generated_image_personal_timeline.jpeg"
            alt="personal timeline" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">create your own interactive timeline</h2>
          <p>add significant events, from birth to today's achievements.</p>
        </div>
      </div>

      <div class="card card-xl bg-base-100 shadow-sm">
        <figure class="pb-8">
          <img
            class="shadow-primary w-full shadow-xl"
            src="/assets/about/chatgpt-photo-timeline.png"
            alt="personal timeline with photo" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Enrich your memories</h2>
          <p>Upload photos to each milestone to visualize your story.</p>
        </div>
      </div>

      <div class="card card-xl bg-base-100 shadow-sm">
        <figure class="pb-8">
          <img
            class="shadow-primary w-full shadow-xl"
            src="/assets/about/gemini_generated_image_personal_timeline.jpeg"
            alt="track your progress" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Track your progress</h2>
          <p>
            Record your goals and achievements, and observe your development
            dynamically.
          </p>
        </div>
      </div>

      <div class="card card-xl bg-base-100 shadow-sm">
        <figure class="pb-8">
          <img
            class="shadow-primary w-full shadow-xl"
            src="/assets/about/gemini_generated_image_personal_timeline.jpeg"
            alt="track your progress" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Share your stories</h2>
          <p>
            Show friends and family the important moments of your life in a
            unique format (coming soon!)
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="mb-8 text-lg">
        <span class="font-semibold">Timeline</span> is more than just a
        chronology. It's your personal archive of memories, a tool for
        self-reflection and inspiration.
      </p>
    </div>
  </div>
</app-shared-layout>
