<app-header />
<div
  id="top"
  class="bg-base-100 flex min-h-[calc(100vh-70px-64px)] place-content-center">
  <div class="relative my-4 w-full">
    <div
      class="bg-base-200 shadow-base-300 relative z-10 h-full rounded-lg shadow-xl">
      <ng-content></ng-content>
    </div>
    <app-table-of-contents-container
      [state]="tableOfContents()"></app-table-of-contents-container>
  </div>
</div>
<app-notifications-container
  (markRead)="markRead($event)"
  [messages]="unreadMessages()" />
<app-cookie-consent />
<app-modal-factory />
<app-footer />
