<app-layout>
  <app-hero
    [isAuthorized]="isAuthorized()"
    [isLoading]="isLoading()"
    (addTimeline)="addTimeline($event)"
    (login)="login()" />

  <div class="mx-4 mt-4">
    <app-content-title title="Our timeline" class="text-success" />

    <app-timeline [timeline]="projectTimeline()"></app-timeline>
  </div>

  <app-modal [show]="showAddTimelineWindow()">
    <app-add-timeline
      [isAuthorized]="isAuthorized()"
      [isLoading]="isLoading()"
      (addTimeline)="addTimeline($event)" />
  </app-modal>
</app-layout>
