<app-layout>
  <app-hero>
    <img src="/assets/timeline.png" class="max-w-sm" alt="timeline" />
    <div>
      <h1 class="text-5xl font-bold">add your first personal timeline</h1>
      <p class="py-6">
        create a dynamic story of your life by adding milestones, memories, and
        achievements.
      </p>
      <div class="flex w-full flex-col items-center lg:flex-row">
        @if (!this.isAuthorized()) {
          <a class="btn btn-primary" href="/user/login">authorize</a>
        } @else {
          <a class="btn btn-primary" href="/my">go to timeline</a>
        }
      </div>
    </div>
  </app-hero>

  <div class="mx-4 mt-4">
    <app-content-title title="Our timeline" class="text-success" />

    <app-timeline [timeline]="projectTimeline()"></app-timeline>
  </div>
</app-layout>
