<div
  class="bg-success text-success-content flex cursor-pointer place-items-center justify-start gap-2 overflow-hidden rounded-xl transition-all duration-300 ease-linear"
  [ngClass]="extraContainerClasses()"
  (click)="accountClick.emit()"
  (keydown.enter)="accountClick.emit()"
  tabindex="0">
  <div class="avatar placeholder bg-primary text-primary-content">
    <div
      class="w-12 bg-cover bg-no-repeat"
      [class.with-avatar]="account().avatar"
      [style.background]="avatar()">
      <span class="text-neutral-content text-2xl">
        {{ account().firstLetter }}
      </span>
    </div>
  </div>
  <div class="pe-2">{{ account().name }}</div>
</div>
