<app-shared-layout>
  <div class="mx-4 mt-4">
    <app-shared-content-title title="Press Kit"></app-shared-content-title>
    <p class="mt-4">
      The logo graphics available for download on this page are provided under
      <a
        class="link"
        href="https://creativecommons.org/licenses/by/4.0/"
        target="_blank"
        >CC BY 4.0</a
      >.
    </p>

    <div class="mt-8 flex place-content-center">
      <div class="card bg-base-100 w-96 shadow-sm">
        <figure class="bg-white p-4">
          <img
            src="/assets/press-kit/full-logo.svg"
            alt="timeline logos"
            class="w-full" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">timeline logos</h2>
          <p>
            our logos in SVG format, perfect for adapting to various media, from
            web to print.
          </p>
          <div class="card-actions justify-end">
            <a
              class="btn btn-primary"
              href="/assets/press-kit/timeline-press-kit.7z"
              >download</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</app-shared-layout>
