<fieldset class="fieldset">
  <input type="hidden" name="id" [formControl]="form().controls.id" readonly />

  <label class="fieldset-label" for="title">Title</label>
  <input
    id="title"
    type="text"
    class="input w-full min-w-xs"
    name="title"
    [formControl]="form().controls.title" />

  <label class="fieldset-label" for="content">
    Mardown content
    <a
      class="link"
      tabindex="1"
      (click)="showHelp.set(true)"
      (keyup.enter)="showHelp.set(true)">
      <ng-icon name="phosphorSealQuestionDuotone" size="22" />
    </a>
  </label>
  <textarea
    id="content"
    class="textarea h-52 w-full"
    name="content"
    [formControl]="form().controls.content"></textarea>
</fieldset>

<app-shared-modal
  title="Markdown"
  [show]="showHelp()"
  (closed)="showHelp.set(false)">
  <app-static-markdown-help />
</app-shared-modal>
