<app-shared-layout>
  <app-shared-two-columns>
    <app-shared-timeline
      class="first"
      [timelineId]="timelineId()"
      [isAuthorized]="isAuthorized()" />
    <div class="second">
      <div class="bg-base-300 relative rounded-xl shadow-xl">
        @if (loading()) {
          <div class="min-h-32"><app-shared-loader /></div>
        }
        @if (timelineAccountView(); as account) {
          <div>
            <app-shared-account-view
              [account]="account"
              extraContainerClasses="bg-warning lg:rounded-b-none" />
            @if (account.about) {
              <div class="about p-4">{{ account.about }}</div>
            }
          </div>
        }
      </div>
    </div>
  </app-shared-two-columns>
</app-shared-layout>
