<app-layout>
  <app-hero>
    <div class="my-16 max-w-lg">
      <h1 class="text-5xl font-bold">Login with Google</h1>
      <p class="pb-14 pt-6">
        You must be signed in to your Google account to use Timeline
      </p>
      <button
        class="btn btn-primary"
        (click)="login()"
        [attr.disabled]="isLoading() ? true : null">
        @if (isLoading() === true) {
          <span class="loading loading-spinner"></span>
        } @else {
          <ng-icon name="saxLogin1Outline" size="24"></ng-icon>
        }
        Authorize
      </button>
    </div>
  </app-hero>
</app-layout>
