<app-no-authorized-layout>
  <div class="flex w-full items-center">
    <div class="card mx-auto w-full max-w-5xl shadow-xl">
      <div class="hero rounded-xl bg-base-200 p-16">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="max-w-lg">
            <h1 class="text-5xl font-bold">
              @if ((isAuthorised | async) === false) {
                Login with Google
              } @else {
                Thank you for authorizing on our service
              }
            </h1>
            <p class="pb-14 pt-6">
              @if ((isAuthorised | async) === false) {
                You must be signed in to your Google account to use Timeline
              } @else {
                You will now be redirected to the service
              }
            </p>
            @if ((isAuthorised | async) === false) {
              <app-login-container />
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</app-no-authorized-layout>
