<div role="tablist" class="tabs-boxed tabs">
  <a
    role="tab"
    tabindex="0"
    class="tab"
    [class.tab-active]="this.activeStep() === 0"
    (click)="this.activeStep.set(0)"
    (keyup)="this.activeStep.set(0)">
    text something
  </a>
  <a
    role="tab"
    tabindex="1"
    class="tab"
    [class.tab-active]="this.activeStep() === 1"
    (click)="this.activeStep.set(1)"
    (keyup)="this.activeStep.set(1)">
    set date and time
  </a>
  <a
    role="tab"
    tabindex="2"
    class="tab"
    [class.tab-active]="this.activeStep() === 2"
    (click)="this.activeStep.set(2)"
    (keyup)="this.activeStep.set(2)">
    add tags</a
  >
  <a
    role="tab"
    tabindex="3"
    class="tab"
    [class.tab-active]="this.activeStep() === 3"
    (click)="this.activeStep.set(3)"
    (keyup)="this.activeStep.set(3)"
    >add link</a
  >
</div>
<div>
  @if (this.activeStep() === 0) {
    <label class="form-control">
      <div class="label">
        <span class="label-text">Title</span>
      </div>
      <label class="input input-bordered flex items-center gap-2">
        <input
          type="text"
          class="w-full grow"
          name="title"
          [formControl]="form.controls.title" />
      </label>
    </label>
    <label class="form-control">
      <div class="label">
        <span class="label-text">Content</span>
      </div>
      <textarea
        class="textarea textarea-bordered h-32 w-full"
        name="content"
        [formControl]="form.controls.content"></textarea>
    </label>
  }
  @if (this.activeStep() === 1) {
    <div class="mt-4">
      <app-date-picker
        (selectDate)="updateDate($event)"
        [fromDate]="form.controls.date.value" />

      <input
        type="hidden"
        name="id"
        [formControl]="form.controls.id"
        readonly />
      <input
        type="hidden"
        name="date"
        [formControl]="form.controls.date"
        readonly />

      <div class="form-control mt-4">
        <label class="label cursor-pointer">
          <span class="label-text">Add time</span>
          <input
            name="add-time"
            type="checkbox"
            (change)="handleWithTimeChange()"
            class="toggle"
            [formControl]="form.controls.withTime" />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Time</span>
          <input
            name="time"
            type="text"
            class="input input-bordered w-20"
            [class.input-error]="!form.controls.time.valid"
            [formControl]="form.controls.time" />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Show time on timeline</span>
          <input
            name="show-time"
            type="checkbox"
            class="toggle"
            [formControl]="form.controls.showTime" />
        </label>
      </div>
    </div>
  }
  @if (this.activeStep() === 2) {
    <label class="form-control">
      <div class="label">
        <span class="label-text">Tags</span>
      </div>
      <label class="input input-bordered flex items-center gap-2">
        <input #tag type="text" class="w-full" (keyup.enter)="addTag(tag)" />
      </label>
      <div class="label">
        <span class="label-text-alt">
          Pressing Enter will add a tag. You can add multiple tags, separated by
          commas.
        </span>
      </div>
      <app-add-event-tags
        [tags]="tags()"
        (clickToTag)="removeTag($event)"></app-add-event-tags>
    </label>
  }
  @if (this.activeStep() === 3) {
    <label class="form-control">
      <div class="label">
        <span class="label-text">link</span>
      </div>
      <label class="input input-bordered flex items-center gap-2">
        <input
          name="url"
          type="text"
          class="grow"
          placeholder="Url"
          [formControl]="form.controls.link" />
      </label>
      <div class="label" [class.hidden]="!form.controls.link.errors">
        <span class="label-text-alt text-error">Wrong URL</span>
      </div>
      @if (previewLink(); as link) {
        <app-link-preview [link]="link" class="mt-4" />
      }
    </label>
  }

  <button
    (click)="saveEvent.emit()"
    class="btn btn-primary mt-8"
    [attr.disabled]="!form.valid ? true : null">
    <ng-icon name="saxCalendarAddOutline" size="24"></ng-icon>
    Add
  </button>
</div>
