.stage {
  &.stage-started {
    span:nth-child(1) {
      background-color: #ef4444;
    }
  }

  &.stage-development {
    span:nth-child(1),
    span:nth-child(2) {
      background-color: #f97316;
    }
  }

  &.stage-testing {
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
      background-color: #eab308;
    }
  }

  &.stage-done {
    span {
      background-color: #22c55e;
    }
  }
}
