<app-shared-layout>
  <div class="grid h-full grid-cols-2 items-center gap-4 px-22">
    <div class="face">
      <div class="band">
        <div class="blue"></div>
        <div class="yellow"></div>
      </div>
      <div class="eyes"></div>
      <div class="dimples"></div>
      <div class="mouth"></div>
    </div>
    <div>
      <h1 class="lg:text-10xl text-7xl">404</h1>
      <p class="pt-4 pb-2 text-xl">
        The page you are looking for cannot be found.
      </p>
      <p class="py-6">
        This might be because you entered the address incorrectly, or the page
        has been moved or deleted.
      </p>
      <div class="flex w-full flex-col items-center lg:flex-row">
        @if (!this.isAuthorized()) {
          <app-shared-auth-button />
        } @else {
          <a class="btn btn-primary" href="/my">go to timeline</a>
        }
      </div>
    </div>
  </div>
</app-shared-layout>
