$gb: #f2eee8;
$wh: #ffffff;
$dark: #383a41;
$red: #eb6d6d;
$blue: #0057b7;
$yellow: #ffdd00;
$break: 400px;

*,
*:before,
*:after {
  box-sizing: content-box;
  transform: translate3d(0, 0, 0);
}

.face {
  width: 300px;
  height: 300px;
  border: 4px solid $dark;
  border-radius: 10px;
  background-color: $wh;

  @media screen and (max-width: $break) {
    margin-top: 40px;
    margin-bottom: 0px;
    transform: scale(0.8);
  }

  .band {
    width: 350px;
    height: 27px;
    border: 4px solid $dark;
    border-radius: 5px;
    margin-left: -25px;
    margin-top: 50px;

    .blue {
      height: calc(100% / 2);
      width: 100%;
      background-color: $blue;
    }

    .yellow {
      height: calc(100% / 2);
      width: 100%;
      background-color: $yellow;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 27px;
      width: 30px;
      background-color: rgba($wh, 0.3);
      position: absolute;
      z-index: 999;
    }

    &:after {
      content: '';
      display: inline-block;
      height: 27px;
      width: 30px;
      background-color: rgba($dark, 0.3);
      position: absolute;
      z-index: 999;
      right: 0;
      margin-top: -27px;
    }
  }

  .eyes {
    width: 128px;
    margin: 0 auto;
    margin-top: 40px;

    &:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 15px;
      border: 7px solid $dark;
      margin-right: 20px;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      border-bottom: 0;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 30px;
      height: 15px;
      border: 7px solid $dark;
      margin-left: 20px;
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
      border-bottom: 0;
    }
  }

  .dimples {
    width: 180px;
    margin: 0 auto;
    margin-top: 15px;

    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 80px;
      border-radius: 50%;
      background-color: rgba($red, 0.4);
    }

    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 80px;
      border-radius: 50%;
      background-color: rgba($red, 0.4);
    }
  }

  .mouth {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: $dark;
    margin: 0 auto;
    margin-top: 25px;
  }
}
