<label class="form-control">
  <div class="label">
    <span class="label-text">Title</span>
  </div>

  <input type="hidden" name="id" [formControl]="form().controls.id" readonly />

  <label class="input input-bordered flex items-center gap-2">
    <input
      type="text"
      class="w-full grow"
      name="title"
      [formControl]="form().controls.title" />
  </label>
</label>
<label class="form-control">
  <div class="label">
    <span class="label-text">Content</span>
  </div>
  <textarea
    class="textarea textarea-bordered h-32 w-full"
    name="content"
    [formControl]="form().controls.content"></textarea>
</label>
