<app-shared-layout>
  <div class="mx-4 mb-4">
    <app-shared-content-title title="Privacy Policy" />

    <p>
      This Privacy Policy outlines how Timeline collects, uses, discloses, and
      protects your personal information. By using Timeline, you consent to the
      practices described in this policy.
    </p>

    <h2>Information We Collect</h2>
    <p>We may collect the following information:</p>
    <ul>
      <li>
        Personal information you provide, such as your name, email address, and
        other contact details.
      </li>
      <li>
        Usage data, including information about how you interact with Timeline,
        such as the features you use and the content you create.
      </li>
      <li>
        Device information, such as your IP address, browser type, and operating
        system.
      </li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We use your information to:</p>
    <ul>
      <li>Provide and improve Timeline services.</li>
      <li>Personalize your experience.</li>
      <li>Communicate with you about Timeline.</li>
      <li>Protect the security of Timeline and our users.</li>
    </ul>

    <h2>Sharing Your Information</h2>
    <p>We may share your information with:</p>
    <ul>
      <li>Service providers who help us operate Timeline.</li>
      <li>Law enforcement or other authorities as required by law.</li>
    </ul>

    <h2>Data Security</h2>
    <p>
      We implement reasonable security measures to protect your information from
      unauthorized access, use, or disclosure.
    </p>

    <h2>Your Rights</h2>
    <p>
      You may have certain rights regarding your personal information, such as
      the right to access, correct, or delete your information. Please contact
      us to exercise these rights.
    </p>

    <h2>Changes to This Policy</h2>
    <p>
      We may update this Privacy Policy from time to time. We will notify you of
      any significant changes.
    </p>

    <h2>Contact Us</h2>
    <p>
      If you have any questions or concerns about this Privacy Policy, please
      contact us at [your email address].
    </p>
  </div>
</app-shared-layout>
