<ul>
  @for (item of state().items; track $index) {
    <li
      [class.active]="selected() === item.uuid"
      [class.border-primary]="selected() === item.uuid"
      [class.border-r-4]="selected() === item.uuid"
      [class.default]="selected() !== item.uuid"
      class="item border-accent overflow-hidden border-r-4 p-2 ps-4">
      <a
        tabindex="0"
        [href]="item.link"
        class="link block no-underline"
        (click)="itemClick(item)"
        (keypress)="itemClick(item)"
        [title]="item.alt || ''"
        >{{ item.title }}</a
      >
    </li>
  }
</ul>
