<div
  class="wrapper tooltip-right tooltip-info"
  [class.tooltip]="withTooltip()"
  [class.tooltip-open]="showTooltip()"
  data-tip="now you can add your first event">
  <a
    class="btn btn-accent text-white lg:inline-flex"
    tabindex="0"
    [class.btn-circle]="!disabled()"
    (click)="addEvent.emit()"
    (keypress.enter)="addEvent.emit()"
    [attr.disabled]="disabled() ? 'true' : null"
    [class.hidden]="disabled()">
    @if (disabled() === true) {
      <ng-icon name="phosphorPencilSimpleLine" size="32"></ng-icon>
      submit new event
    } @else {
      <ng-icon name="phosphorPlus" size="32" class="plus"></ng-icon>
      <ng-icon name="phosphorPencilSimpleLine" size="32" class="edit"></ng-icon>
    }
  </a>
</div>
