@if (!timelineId()) {
  <a
    tabindex="0"
    class="btn btn-accent text-base-content"
    (click)="addTimeline.emit()"
    (keypress.enter)="addTimeline.emit()"
    [attr.disabled]="isLoading() ? 'true' : null">
    <ng-icon name="phosphorTreeView" size="28"></ng-icon>
    create timeline
  </a>
} @else {
  <div
    class="wrapper tooltip-right tooltip-info tooltip"
    [class.tooltip-open]="buttonState().tooltip.open"
    [attr.data-tip]="buttonState().tooltip.tip">
    <a
      class="btn btn-accent btn-circle text-white lg:inline-flex"
      tabindex="0"
      (click)="buttonState().click.emit()"
      (keypress.enter)="buttonState().click.emit()"
      [attr.disabled]="isLoading() ? 'true' : null">
      <ng-icon
        [svg]="buttonState().icon"
        [class.plus]="!isLoading()"
        size="32"></ng-icon>
      @if (!isLoading()) {
        <ng-icon
          [svg]="buttonState().secontIcon"
          [class.edit]="!isLoading()"
          size="32"></ng-icon>
      }
    </a>
  </div>
}
