<div class="mt-8 flex place-items-center gap-4">
  <div class="flex-none">
    <app-shared-content-loading-button
      [title]="acceptButtonTitle()"
      [isLoading]="isLoading()"
      [isDisabled]="isDisabled()"
      [icon]="acceptButtonIcon()"
      (clickEvent)="acceptAction.emit()">
      {{ acceptButtonTitle() }}
    </app-shared-content-loading-button>
  </div>
  <div class="flex-none">
    <button
      class="btn"
      [attr.disabled]="isLoading() ? true : null"
      (click)="dismissAction.emit()">
      {{ dismissButtonTitle() }}
    </button>
  </div>
</div>
