@if (state().items.length > 0) {
  <div class="table-container absolute top-10 z-0 w-36" [class.open]="isOpen()">
    <div
      class="bg-accent text-accent-content rounded-r-xl py-4 text-xl shadow-2xl shadow-black">
      <div class="icon text-primary absolute cursor-pointer">
        <ng-icon name="saxArrowSquareRightBold" size="48"></ng-icon>
      </div>

      <app-table-of-content
        class="table-of-content"
        [setActive]="setActive()"
        [state]="state()"></app-table-of-content>
    </div>
  </div>
}
