<div class="navbar bg-secondary">
  <div class="flex-1">
    <a class="logo btn text-xl" href="/"> timeline </a>
  </div>
  <div class="flex-none gap-2">
    <app-feature-flag
      feature="dark_light_mode"
      [accountSettings]="activeAccount()?.settings || {}">
      <app-theme-switch />
    </app-feature-flag>

    <app-login-button
      [isLoading]="isLoading()"
      [isAuthorized]="isAuthorized()"
      (login)="login()" />

    @if (activeAccount(); as account) {
      @if (token) {
        <div class="relative w-56">
          <app-top-menu
            class="absolute -top-6 right-0 z-20 w-56"
            [authorizedUserToken]="token"
            [activeAccount]="account"
            (accountClick)="goToDashboard()"
            (saveFeature)="saveFeature($event)"
            (logout)="logout()" />
        </div>
      }
    }
  </div>
</div>
