/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui" {
  themes: pastel;
}
@plugin "daisyui/theme" {
  name: 'gruvbox';
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-base-100: oklch(31.09% 0.0034 48.62);
  // --color-base-200: oklch(95% 0.03 240);
  // --color-base-300: oklch(92% 0.04 240);
  // --color-base-content: oklch(20% 0.05 240);

  --color-primary: oklch(57.51% 0.0666 199.42);
  --color-secondary: oklch(64.5% 0.0939 145.27);
  --color-accent: oklch(62.17% 0.1707 45.81);
  --color-neutral: oklch(24.08% 0.0049 219.67);
  --color-info: oklch(89.41% 0.0566 89.24);
  --color-success: oklch(75.55% 0.1078 137.68);
  --color-warning: oklch(83.25% 0.1595 82.99);
  --color-error: oklch(65.97% 0.2175 30.39);

  // --color-primary-content: oklch(98% 0.01 240);
  // --color-secondary: oklch(64.5% 0.0939 145.27);
  // --color-secondary-content: oklch(98% 0.01 200);
  // --color-accent: oklch(65% 0.25 160);
  // --color-accent-content: oklch(98% 0.01 160);
  // --color-neutral: oklch(50% 0.05 240);
  // --color-neutral-content: oklch(98% 0.01 240);
  // --color-info-content: oklch(98% 0.01 220); // --color-error-content: oklch(98% 0.01 30); // --color-error: oklch(65% 0.3 30); // --color-warning-content: oklch(20% 0.05 80); // --color-warning: oklch(80% 0.25 80); // --color-success-content: oklch(98% 0.01 140); // --color-success: oklch(65% 0.25 140);
}

@import url('animate.css');
@import url('./assets/css/global.scss');
@import url('./assets/css/cookie.scss');
@import url('./assets/css/animation.scss');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', mono;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn {
  font-weight: 400;
  font-size: 1rem;
}

.btn.logo,
.logo {
  transition: 1s ease-out all;

  font-family: 'JetBrains Mono', serif;

  opacity: 1;
  color: white;
  border-color: oklch(0.621735 0.170672 45.8116);
  background-color: oklch(0.621735 0.170672 45.8116);

  &:hover {
    opacity: 0.8;
  }
}

html.dark .hero {
  background-color: #3c3836;
}

html.light .hero {
  // @apply bg-base-300;
}

.collapsable {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;

  &.open {
    visibility: visible;
    opacity: 1;
    height: calc-size(auto, size);
  }

  @supports (-moz-appearance: none) {
    &.open {
      height: auto;
    }
  }
}
