/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn.logo,
.logo {
  transition: 1s ease-out all;

  opacity: 1;
  color: white;
  border-color: oklch(0.621735 0.170672 45.8116);
  background-color: oklch(0.621735 0.170672 45.8116);

  &:hover {
    opacity: 0.8;
  }
}

html.dark .hero {
  background-color: #3c3836;
}

html.light .hero {
  @apply bg-base-300;
}

.collapsable {
  @apply invisible opacity-0;

  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;

  &.open {
    @apply visible opacity-100;
    height: calc-size(auto, size);
  }

  @supports (-moz-appearance: none) {
    &.open {
      height: auto;
    }
  }
}
