@switch (event().type) {
  @case (EditableTimelineTypes.draft) {
    <div class="event-form bg-lighter timeline-box relative pt-0">
      <app-edit-event-form
        [editEvent]="event()"
        [openTab]="openTab()"
        (changeValues)="changeValues.emit($event)"
        (saveEvent)="saveEvent.emit()" />
      <button
        class="close btn btn-circle btn-error btn-sm absolute"
        (click)="dismissAction.emit()">
        ✕
      </button>
    </div>
  }
  @default {
    <div class="event-menu mb-8 h-full w-full">
      <app-timeline-event-menu
        class="h-full w-full"
        [timelineEvent]="event()"
        (onDelete)="onDelete.emit($event)" />
    </div>
  }
}
