@use '../../../../../../assets/css/global' as g;

.notification-container {
  position: fixed;
  top: 0;
  right: 2.5rem;
  z-index: 30;
  width: 24rem;
  padding-top: 0.5rem;
  padding-inline-end: 1rem;

  .toast {
    @apply bg-base-300;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    animation-name: backInRight;
    animation-duration: g.$animation-duration;

    &.success {
      @apply border-success;
    }

    &.warning {
      @apply border-warning;
    }

    &.error {
      @apply border-error;
    }

    .indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.25rem;
      width: 100%;
      animation: timeOut 5s linear 1 forwards;
    }
    &.success .indicator {
      @apply bg-success;
    }

    &.warning .indicator {
      @apply bg-warning;
    }

    &.error .indicator {
      @apply bg-error;
    }

    &:hover .indicator {
      animation-play-state: paused;
    }
  }
}

@keyframes timeOut {
  to {
    width: 0;
  }
}
