<div class="navbar bg-secondary lg:rounded-b-lg">
  <div class="flex-1">
    <a class="logo btn text-xl" href="/"> timeline </a>
  </div>
  <div class="flex-none gap-2">
    <app-header-theme-switch
      [isDark]="isDarkTheme()"
      (toggleTheme)="toggleTheme()" />

    @if (isAuthorized() === false) {
      <app-shared-header-login-button
        [isLoading]="isLoading()"
        (login)="login()" />
    }

    @if (currentAccountView(); as account) {
      <div class="relative w-12 lg:w-56">
        <div
          class="w-full rounded-xl text-success-content lg:absolute lg:-top-6 lg:left-0 lg:z-20 lg:bg-success"
          (clickOutside)="closeMenu()">
          <app-shared-account-view
            (accountClick)="openMenu()"
            [account]="account"
            [extraContainerClasses]="isOpenMenu() ? 'bg-warning' : ''" />
          <app-top-menu-collapsable-menu
            class="hidden lg:block"
            [isOpenMenu]="isOpenMenu()"
            [accountSettings]="activeAccountSettings()"
            [accounts]="userAccountsViews()"
            [currentAccountUUID]="account.uuid"
            (copyToken)="copyTokenToClipboard()"
            (closeMenu)="closeMenu()"
            (openUserFeatures)="openUserFeatures()"
            (openUserSettings)="openUserSettings()"
            (changeAccount)="changeAccount($event)"
            (logout)="logout()" />
        </div>
      </div>
    }
  </div>
</div>

@if (currentAccountView(); as account) {
  <div class="rounded-b-xl bg-success text-success-content lg:hidden">
    <app-top-menu-collapsable-menu
      [isOpenMenu]="isOpenMenu()"
      [accountSettings]="activeAccountSettings()"
      [accounts]="userAccountsViews()"
      [currentAccountUUID]="account.uuid"
      (copyToken)="copyTokenToClipboard()"
      (closeMenu)="closeMenu()"
      (openUserFeatures)="openUserFeatures()"
      (openUserSettings)="openUserSettings()"
      (changeAccount)="changeAccount($event)"
      (logout)="logout()" />
  </div>
}
