<app-shared-layout>
  <app-shared-hero>
    <img
      src="/assets/timeline_320x320.png"
      alt="timeline"
      height="320"
      width="320" />
    <div>
      <h1 class="text-4xl lg:text-5xl">add your first personal timeline</h1>
      <p class="py-6">
        create a dynamic story of your life by adding milestones, memories, and
        achievements.
      </p>
      <div class="flex w-full flex-col items-center lg:flex-row">
        @if (!this.isAuthorized()) {
          <a class="btn btn-primary" href="/user/login">authorize</a>
        } @else {
          <a class="btn btn-primary" href="/my">go to timeline</a>
        }
      </div>
    </div>
  </app-shared-hero>

  <div class="mx-4 mt-4">
    <app-shared-content-title title="Our timeline" class="text-success" />
  </div>
  <div>
    <app-shared-timeline [timelineId]="1" [limit]="3" />
    <p class="my-4 rounded-b-xl bg-base-300 p-4 text-center">
      <a class="link" href="/timeline/1">show more</a>
    </p>
  </div>
  <div class="mt-4 hidden rounded-lg bg-base-100 p-4">
    <app-shared-content-title title="Features" class="text-primary" />
  </div>
</app-shared-layout>
